p {
    color: red;
}

p {
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    text-align: justify;
    margin-top: 15px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}